
#banner {
    background-color: #4EA0FF;
    height: 150px;
    background-image: url(../img/pattern.png);
   
}

#logo {
    height: 35%;
    margin-top: 80px;
    margin-left: 10px;   

}
#titolo-principale {
    font-size: 45px;
    margin-bottom: 5px;
}
.sottotitolo {
    color: grey;
    font-size: 23px;
    font-weight: bold;
}
.autore {
    color: #4EA0FF ;
}
.data {
    color: grey;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.didascalia {
    margin-top: 5px;
    font-size: 15px;
}
.paragrafo {
    font-size: 20px;
}
.lista {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}
.sottolineatura {
    background-color: rgb(231, 235, 20);
}
thead {
    background-color: #4EA0FF ;
    font-size: 20px ;
    color: white;
    
}
.prima-terza{
    background-color: #B1E5F2;
    font-size: 20px;
    
}
.seconda {
    background-color: white;
    font-size: 20px;
}

.titolo-footer{
    font-size: 20px;
    color: grey;
    margin-top: 40px;
    margin-bottom: 20px;
}
.footer-primo {
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    
}
.footer-secondo {
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}

